@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>User Management</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="EditRoles" asp-route-id="@user.Id">
                        Edit Roles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

